@import "../../config/var.css";

.graphiql-container {
  position: absolute;
  top: 80px;
  left: 16px;
  right: 16px;
  bottom: 16px;
  height: auto;
  width: auto;
  box-shadow: var(--boxShadowLight);
  & .topBar, .docExplorerShow {
    background: var(--white);
    & .execute-button {
      background: var(--transparent);
    }
    & .toolbar-button {
      background: var(--transparent);
    }
  }
}