@import "../../config/var.css";

.nodes {
  display: flex;
  & .list {
    min-width: 200px;
    max-width: 400px;
    & .filter {
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      padding: 4px;
      border-radius: var(--borderRadiusLg);
      border: solid 1px var(--minBlack);
      background: var(--white);
      & svg {
        width: 16px;
        height: 16px;
        fill: var(--lightBlack);
      }
      & input {
        margin-left: 2px;
        flex: auto;
        height: 24px;
        line-height: 24px;
        border: none;
        outline: none;
      }
    }
    & .item {
      margin-bottom: 8px;
      & .node-link {
        display: flex;
        border-radius: var(--borderRadiusLg);
        border: solid 2px var(--mainBlue);
        border-left-width: 8px;
        padding: 8px;
        color: var(--mainBlue);
        background: var(--white);
        transition: all .2s ease-out;
        & .name {
          font-size: 14px;
          padding-right: 16px;
        }
        & .ipport {
          margin-left: auto;
          font-size: 12px;
          color: var(--darkBlack);
        }
        &.active {
          border-color: var(--mainGreen);
          color: var(--mainGreen);
        }
        &.suspect {
          border-color: var(--mainYellow);
          color: var(--mainYellow);
        }
        &.dead {
          border-color: var(--mainRed);
          color: var(--mainRed);
        }
      }
    }
  }
  & .detail {
    margin-left: 16px;
    flex: auto;
  }
}