@import "../../config/var.css";

.nodes {
  display: flex;
  & .list {
    min-width: 200px;
    max-width: 400px;
    & .filter {
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      padding: 4px;
      border-radius: var(--borderRadiusLg);
      border: solid 1px var(--minBlack);
      background: var(--white);
      & svg {
        width: 16px;
        height: 16px;
        fill: var(--lightBlack);
      }
      & input {
        margin-left: 2px;
        flex: auto;
        height: 24px;
        line-height: 24px;
        border: none;
        outline: none;
      }
    }
    & .item {
      margin-bottom: 8px;
      & .node-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: var(--borderRadiusLg);
        border: solid 2px var(--mainBlue);
        border-left-width: 8px;
        padding: 8px;
        color: var(--mainBlue);
        background: var(--white);
        transition: all .2s ease-out;
        & .name {
          font-size: 14px;
          padding-right: 16px;
        }
        & .ipport {
          font-size: 12px;
          color: var(--darkBlack);
        }
        &.active {
          border-color: var(--mainGreen);
          color: var(--mainGreen);
        }
        &.suspect {
          border-color: var(--mainYellow);
          color: var(--mainYellow);
        }
        &.dead {
          border-color: var(--mainRed);
          color: var(--mainRed);
        }
      }
    }
  }
  & .detail {
    margin-left: 16px;
    flex: auto;
    border-left: solid 1px var(--faintBlack);
    padding-left: 16px;
    & .title {
      margin-bottom: 16px;
      color: var(--darkBlack);
      display: flex;
      align-items: center;
      & .name {
        font-size: 24px;
        padding-right: 16px;
      }
      & .ipport {
        font-size: 14px;
        color: var(--lightBlack);
      }
      & .snap {
        margin-left: auto;
        font-size: 12px;
        color: var(--lightBlack);
      }
    }
    & .services {
      & .title {
        color: var(--darkBlack);
        font-size: 16px;
        margin-bottom: 8px;
      }
      & .item {
        font-size: 14px;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: var(--borderRadiusLg);
        border: solid 2px var(--mainGreen);
        border-top-width: 16px;
        padding: 8px;
        color: var(--darkBlack);
        background: var(--white);
        transition: all .2s ease-out;
        &.alive {
          border-color: var(--mainGreen);
        }
        &.suspect {
          border-color: var(--mainYellow);
        }
        &.dead {
          border-color: var(--mainRed);
        }
        & .name {

        }
        & .ipport {

        }
      }
    }
  }
}