:root {
    --mainBlue: #32a0da;
    --mainGreen: #7fbb42;
    --mainRed: #f05125;

    --gray: #bbb;
    --black: #000000;
    --white: #ffffff;
    --backGround: #f1f1f1;

    --darkWhite: rgba(255, 255, 255, 0.87);

    --transparent: rgba(0, 0, 0, 0);
    --fullBlack: rgba(0, 0, 0, 1);
    --darkBlack: rgba(0, 0, 0, 0.87);
    --lightBlack: rgba(0, 0, 0, 0.54);
    --minBlack: rgba(0, 0, 0, 0.26);
    --faintBlack: rgba(0, 0, 0, 0.12);

    --fullGray: rgba(0, 0, 0, 0.16);
    --darkGray: rgba(0, 0, 0, 0.10);
    --lightGray: rgba(0, 0, 0, 0.06);
    --minGray: rgba(0, 0, 0, 0.03);
    --faintGray: rgba(0, 0, 0, 0.02);

    --boxShadowLight: 0 1px 4px 0 rgba(0,0,0,0.3);
    --boxShadowSignin: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    --boxShadowMain: 0 1px 8px rgba(0,0,0,.3);

    --borderRadiusBase: 2px;
    --borderRadiusLg: 4px;
    --borderRadiusSm: 2px;
}

