@import "../../config/var.css";

.header {
    display: flex;
    height: 64px;
    align-items: center;
    background: var(--white);
    box-shadow: var(--boxShadowLight);
    & img.logo {
        width: 48px;
        height: 48px;
        margin: 0 8px;
    }
    & .nav-menu {
        list-style: none;
        height: 100%;
        display: flex;
        align-items: center;
        & > li {
            height: 100%;
            display: flex;
            align-items: center;
            & a {
                height: 100%;
                display: flex;
                align-items: center;
                padding: 0 16px;
                font-size: 14px;
                transition: all .2s ease-out;
                &.nav-link {
                    &.active {
                        background: var(--mainBlue);
                        color: var(--white);
                    }
                }
                &.nav-icon {
                    & .nav-svg {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
        &.ml-auto {
            margin-left: auto;
        }
    }
}