<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="/static/dist/<%= htmlWebpackPlugin.files.chunks['console'].css %>" rel="stylesheet">
    <style type="text/css">
        .spinnerwrap {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -24px;
            margin-left: -24px;
            user-select: none;
        }

        .spinnerwrap img {
            display: block;
            width: 48px;
            height: 48px;
            -webkit-user-drag: none;
        }
    </style>
</head>
<body>
<div id="root">
    <div class="spinnerwrap"><img src="/static/images/spinner.svg"/></div>
</div>
<script type="text/javascript" src="/static/dist/<%= htmlWebpackPlugin.files.chunks['console'].entry %>"></script>
</body>
</html>