<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="/static/dist/<%= htmlWebpackPlugin.files.chunks['console'].css %>" rel="stylesheet">
</head>
<body>
<div id="root">
    <div class="spinnerwrap"><img style="" src="/static/images/spinner.gif"></div>
</div>
<script type="text/javascript" src="/static/dist/<%= htmlWebpackPlugin.files.chunks['console'].entry %>"></script>
</body>
</html>